@media screen and (min-width:0px){

  *{
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
  }
 
 
  .body{
     width: 100%;
     background-color: #202d36;
     color:#ffffff;
     font-family: 'Nunito Sans', sans-serif;
  }
 

 /*header section styling*/
 
  .head{
    width:100%;
    background-color:  #2b3743;
    display: flex;
    justify-content: space-between;
    
  }

 
  .head .logo{
    padding: 20px; 
  }
  .head .logo h2{
    margin-left: 10px;
  }
 
  .head .icon{
    padding:20px;
  }
  .head .icon i{
    margin-right: 10px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .head .icon span{
    padding: 8px;
    font-family: 'Nunito Sans', sans-serif;
  }


 
 
  /*Filter display section styling*/
 
  .filter{
    display: flex;
    padding: 15px;
    margin-top: 15px;
    align-items: center;
    justify-content: space-between;
  }
 
  .filter .form-control{
     padding: 10px;  
     margin: 10px ;
     border: 2px solid #2b3743; 
     border-radius: 6px;
     background-color: #2b3743;
     
  }
  .filter .form-control #search{
    margin-left: 25px;
    width:350px;
    padding: 8px;
    text-align: left;
    background-color: #2b3743;
    border: none;
    color:white;
    outline: none;
  }
  .filter .form-control .fa-search{
    margin-left: 30px;
  }
  .filter .form-control #search::placeholder{
    color:white;
    font-family: 'Nunito Sans', sans-serif;
  }
 
 
 .filter .select-control{
    padding: 0px;   
    margin: 10px ;
    
 }
 .filter .select-control #select{
    width:220px;
    padding:20px;
    background-color: #2b3743; 
    border-radius: 4px;
    color:white;
    border: none;
    font-family: 'Nunito Sans', sans-serif;
 }
 

 
  /*countries display section styling*/
 
 .grid{
    width:100%;
    padding: 25px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap:40px;

 }
 
 .grid article{
   width: 100%;
   padding: 0px;
   border-radius: 5px;
   background-color: #2b3743;
 }

 .grid article .imagCont{
   width: 100%;
 }

 .grid article .imagCont #infoImage{
   width: 100%;
 }
 
 .grid article .imagCont #infoImage img{
    width: 100%;
    border-radius: 5px 5px 0px 0px; 
 }
 
 .grid article .imagCont #infoFirst{
    width:100%;
    padding:40px 20px 20px 20px;
    margin-top: -10px;
    border-radius:0 0 5px 5px;
    
 }
 
 .grid article .imagCont #infoFirst p{
    font-size: 18px;
    font-weight: bold;
    padding: 6px;
    margin-bottom: 15px;
 }
 .grid article .imagCont #infoFirst .labeldiv{
   padding: 4px;
 }
 .grid article .imagCont #infoFirst .labeldiv label{
    font-size: 15px;
    font-weight: bold;
 }
 .grid article .imagCont #infoFirst span{
    font-size: 14px;   
 }


/* Country Each display styling */

.navigate{
   width:100%;
   padding: 40px;
   cursor: pointer;  
}

.navigate #arrDiv{
   width:120px;
   padding: 10px;
   box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
   text-align: center;
   border-radius: 5px;
   text-decoration: none;
}
.navigate #arrDiv #arrow{
   color:#ffffff;
}
.navigate #arrDiv .arrowSpan{
   margin-left: 15px;
   color:#ffffff;
   font-family: 'Nunito Sans', sans-serif;
}


.countryInfo{
   width:100%;
   padding: 20px;  
   
}
.countryInfo section{
   display: grid;
   grid-template-columns: 1fr 1fr;
}
.countryInfo section .flagDisplay{
   padding: 20px;
}
.countryInfo section .flagDisplay img{
   width: 100%;
   height: 420px;
   border-radius: 8px;
}
.countryInfo section .information{
   padding: 20px;
   display: grid;
   grid-template-columns: 1fr;
}
.countryInfo section .information #head{
   padding: 10px;
   line-height: 60px;
   
}
.countryInfo section .information #head h3{
   margin-left: 20px;
   font-family: 'Nunito Sans', sans-serif;
}
.countryInfo section .information #body{
   padding: 10px;
   display: grid;
   grid-template-columns: 1fr 1fr;
}
.countryInfo section .information #body #leftInfo{
   padding: 10px;
   
}
.countryInfo section .information #body #leftInfo h5{
   padding: 10px;
   font-weight: 600;
   font-size: 17px;
   font-family: 'Nunito Sans', sans-serif;
}
.countryInfo section .information #body #leftInfo span{
   font-weight: 100;
   font-size: 16px;
   font-family: 'Nunito Sans', sans-serif;
}


.countryInfo section .information #body #rightInfo{
   padding: 5px;
  
}
.countryInfo section .information #body #rightInfo h5{
   padding: 10px;
   font-weight: 600;
   font-size: 17px;
   font-family: 'Nunito Sans', sans-serif;
}
.countryInfo section .information #body #rightInfo span{
   font-weight: 100;
   font-size: 16px;
   font-family: 'Nunito Sans', sans-serif;
}
.countryInfo section .information #body #rightInfo .lang{
   margin-right: 5px;
   font-family: 'Nunito Sans', sans-serif;
}

.countryInfo section .information #foot{
   width: 100%;
   padding: 10px;
   display:flex;
}
.countryInfo section .information #foot #title{
   padding: 10px;
   margin-left: 2px;
}
.countryInfo section .information #foot #title h5{
   padding: 10px;
   font-size: 17px;
   font-family: 'Nunito Sans', sans-serif;
}
.countryInfo section .information #foot #list{
   padding: 10px;
   display:grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 1.5rem;
}
.countryInfo section .information #foot #list .borders{
   width: 100%;
   padding: 8px;
   box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
   border-radius: 5px;
   background-color: #2b3743;
   color:#fff;
   font-family: 'Nunito Sans', sans-serif;
   text-align: center;
}

 
 }/*main media query break point*/
 
 


 
 @media screen and (max-width:768px){
    .grid{
       display:grid;
       grid-template-columns: repeat(3, 1fr);
    }
 
    .grid article .imagCont #infoImage img{
       width: 100%;
       border-radius: 5px 5px 0px 0px;
      
    }

    .countryInfo section .flagDisplay img{
      width: 100%;
      height: 360px;
      border-radius: 8px;
   }

   .countryInfo section .information #body #leftInfo h5{
      padding: 5px;
      font-weight: 600;
   }
   .countryInfo section .information #body #leftInfo span{
      font-weight: 100;
   }

   .countryInfo section .information #body #rightInfo h5{
      padding: 5px;
      font-weight: 600;
   }
   .countryInfo section .information #body #rightInfo span{
      font-weight: 100;
   }

   .countryInfo section .information #foot{
      width: 100%;
      padding: 10px;
      display:flex;
      flex-wrap: wrap;
   }
   
 }/*ipad media query break point*/
 


 
 
 @media screen and (max-width:576px){
 
   .head .logo h2{
       font-size: 14px;
       padding-top:4px;
    }
    .head .icon i{
       margin:0px;
    }
    .head .icon span{
      font-size: 13px;
    }
 
    .filter{
       display: flex;
       flex-wrap: wrap;
    }
 
    .filter .form-control{
       padding: 6px;   
       display: flex;
    }
    .filter .form-control #search{
      margin-left: 4px;
      width:220px;
      padding: 8px;
      text-align: center;
    }
    .filter .form-control .fa-search{
      margin-top: 8px;
    }
   
   
    .filter .select-control{
      padding: 10px;   
   }
   .filter .select-control #select{
      margin-right:0px;
      width:180px;
      padding:16px;
   }
 
    .grid{
       display:grid;
       padding: 30px;
       grid-template-columns: repeat(1, 1fr);
    }
 
    .grid article .imagCont #infoImage img{
       width: 100%;
       border-radius: 5px 5px 0px 0px;
    }


    /*country details*/


    .countryInfo section{
       width: 100%;
       display: grid;
       grid-template-columns: 1fr;
    }

    .countryInfo section .flagDisplay{
       width: 100%;
    }

    .countryInfo section .flagDisplay img{
       width: 100%;
    }

    .countryInfo section .information #body{
      display: grid;
      grid-template-columns: 1fr;
    }

    .countryInfo section .information #foot{
      display: grid;
      grid-template-columns: 1fr;
    }

    .countryInfo section .information #foot #list{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    
 }/*phone media query break point*/
 
 